/* *{
    margin: 0;
    padding: 0;
} */
header {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    margin-bottom:50px; 
}
nav {
    top:0px;
    position: absolute;
    left:0;
    right:0;
    margin:0px auto;
    width:100%;
}
nav ul{
    list-style: none;
}
nav > ul {
    display:table;
    width:100%;
    background:#d4a402;
    position: relative;
}
nav > ul :hover {
    background: #d6c17a;
}
nav > ul li{
    display: table-cell;
}
nav > ul li a{
    color: #ffffff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
  .logos{
     padding-top: 70px;
}
.logos .logo{
    width: 100%;
    height: auto;
}
span .icon{
    display: block;
    margin: 10px;
}





